*{
    
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    align-items: center;
}
.periods{
    height:50px;
    
    color: black;
    
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border: 2px solid black;
    text-align: center;
}
.div1{
    border: 2px solid black;
    padding: 0px;
    width: 15%;
    height: 100%;
   display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    

}
.div1 p{
    text-align: center;



}




.day-time{
    height:50px;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border: 2px solid black;
    text-align: center;}
.day-time div{
    border: 2px solid black;
    padding: 0px;
    width: 15%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}

